.openerp {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	color: #4c4c4c;
	font-size: 12px;
	background: white;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp input[type='submit'], .openerp .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #4c4c4c;
  margin: 0;
  padding: 3px 12px;
  font-size: 12px;
  text-align: center;
  background-color: #e3e3e3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
  background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);
  background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);
  background-image: -o-linear-gradient(top, #efefef, #d8d8d8);
  background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-font-smoothing: antialiased;
  outline: none;
}
.openerp .oe_login button {
  cursor: pointer;
  padding: 6px 16px;
  border: 1px solid #222222;
  color: white;
  margin: 0;
  background-color: #25aaef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25aaef), to(#483c93));
  background-image: -webkit-linear-gradient(top, #25aaef, #483c93);
  background-image: -moz-linear-gradient(top, #25aaef, #483c93);
  background-image: -ms-linear-gradient(top, #25aaef, #483c93);
  background-image: -o-linear-gradient(top, #25aaef, #483c93);
  background-image: linear-gradient(to bottom, #25aaef, #483c93);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
.openerp .oe_login .oe_login_bottom {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 0 1px 1px #999999;
  background-color: #25aaef;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25aaef), to(#483c93));
  background-image: -webkit-linear-gradient(top, #25aaef, #483c93);
  background-image: -moz-linear-gradient(top, #25aaef, #483c93);
  background-image: -ms-linear-gradient(top, #25aaef, #483c93);
  background-image: -o-linear-gradient(top, #25aaef, #483c93);
  background-image: linear-gradient(to bottom, #25aaef, #483c93);
}
.openerp .oe_login .oe_login_logo {
  position: absolute;
  top: -95px;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.openerp .oe_menu {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.ui-widget {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  color: #4c4c4c;
  font-size: 12px;
}
.openerp .oe_form_sheet_width {
  min-width: 50%;
  max-width: 90%;
  margin: 0 auto;
}
